<%- include('partials/header.ejs') %>
    <div class="background">
        <div class="blur"></div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="box is-fullheight">
                <div class="columns">
                    <div class="column is-half left">
                        <div class="left-bg"></div>
                    </div>
                    <div class="column is-half has-text-centered">
                        <h3 class="title has-text-black">Signup</h3>
                        <p class="subtitle has-text-greylight">Please registration to see our cool stuff!</p>
                        <div class="column is-8 is-offset-2">
                            <form action="/signup" method="post" enctype="multipart/form-data">
                                <div class="field">
                                    <div class="label ">Full Name</div>
                                    <input type="text" class="input" placeholder="Full Name">
                                </div>
                                <div class="field">
                                    <div class="label ">Email</div>
                                    <input type="text" class="input" placeholder="email@email.com">
                                </div>
                                <div class="field">
                                    <div class="label ">Password</div>
                                    <input type="password" id="pass" class="input" placeholder="**********">
                                    <progress class="progress is-small hidden" value="0" max="100"
                                        id="strength"></progress>
                                </div>
                                <div class="field">
                                    <div class="label ">Re-Password</div>
                                    <input type="password" class="input" placeholder="**********">
                                </div>
                                <button class="button is-primary is-fullwidth is-medium" type="submit">Sign
                                    Up</button>
                                <hr>
                                <a href="/" class="button is-danger is-fullwidth is-medium">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const passwordInput = document.getElementById('pass');
        const strengthBar = document.getElementById('strength');

        passwordInput.addEventListener('input', updateStrengthIndicator);

        function updateStrengthIndicator() {
            const password = passwordInput.value;
            const strength = calculatePasswordStrength(password);
            strengthBar.value = strength;

            if (strengthBar.value == 25) {
                strengthBar.classList.add('show');
                strengthBar.classList.add('is-danger');
            } else if (strengthBar.value == 50) {
                strengthBar.classList.remove('is-danger');
                strengthBar.classList.add('is-warning');
            } else if (strengthBar.value == 75) {
                strengthBar.classList.remove('is-warning');
                strengthBar.classList.add('is-info');
            } else {
                strengthBar.classList.remove('is-warning');
                strengthBar.classList.remove('is-info');
                strengthBar.classList.add('is-success');
            }



        }

        function calculatePasswordStrength(password) {
            let strength = 0;
            if (password.length >= 8) {
                strength += 25;
            }
            if (/[a-z]/.test(password)) {
                strength += 25;
            }
            if (/[A-Z]/.test(password)) {
                strength += 25;
            }
            if (/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password)) {
                strength += 25;
            }
            return strength;
        }
    </script>


    <%- include('partials/footer.ejs') %>