<%- include('partial/header.ejs') %>
    <div class="hero is-link is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-8 is-offset-2">
                    <h3 class="title has-text-white">Signup</h3>
                </div>
            </div>
        </div>
    </div>

    <%- include('partial/footer.ejs') %>